__pycache__
*.pyc
*_disp.jpg
*_disp.npy
*.npz
kitti_data
models
*.pth
assets/
*.png
*.jpg
*.npz
baseline.sh
baseline_seed_123/
abs_mono2_0.875_0.075_1e-2_1e-2_seed42.sh
abs_mono2_0.425_0.875_1e-2_1e-2_seed42/
*.out
disable_CPD_abs_mono2_seed42.sh
disable_CPD_1.70m_new_height_loss_0.425_0.875_1e-2_1e-2_seed42/
disable_CPD_abs_mono2_30epochs_seed42.sh
filter_nan_disable_CPD_abs_mono2_30epochs_seed42/
test.sh
pretrained/
vadepth_base_r8/
vadepth_base.sh
best_vadepth_model/
best_abs_vadepth/
mono2_base_r12/
abs_vadepth_base_r8/
abs_mono2_r12/
disable_CPD_abs_mono2.sh
disable_CPD_abs_mono2_r12/
disable_CPD_abs_vadepth.sh
disable_CPD_abs_vadepth_r8/
vadepth_base.sh
disable_CPD_abs_mono2_s42.sh
disable_CPD_abs_vadepth_r8/



#test results visualazation
assets/
eigen_test.sh
#get_test_images.py
test_images.py
disable_CPD_abs_vadepth_more20epochs.sh
disable_CPD_abs_vadepth_more20epochs/
abs_vadepth_more20epochs.sh
abs_vadepth_more20epochs/
